<p i18n="@@global.delete">Delete</p>
<p i18n="@@global.close">Close</p>
<p i18n="@@global.accessUnauthorized">Access Unauthorized. Please sign in.</p>
<p i18n="@@global.accessForbidden">Access Forbidden !</p>
<p i18n="@@global.technicalError">Technical Error</p>

<p i18n="@@board.newNote">New note</p>
<p i18n="@@board.newNoteCreated">New note created</p>
<p i18n="@@board.noteMovedWithDragAndDrop">Note moved with drag-and-drop</p>

<p i18n="@@boardNote.noteMoved">Note moved</p>
<p i18n="@@boardNote.deleteNote">Delete note</p>
<p i18n="@@boardNote.deleteNoteConfirm">Are you sure to delete this note ?</p>
<p i18n="@@boardNote.noteDeleted">Note deleted</p>
<p i18n="@@boardNote.noteUpdated">Note updated</p>
<p i18n="@@boardNote.fileUploaded">File uploaded</p>
<p i18n="@@boardNote.fileTooLarge">The file is too large</p>
<p i18n="@@boardNote.fileNotSelected">Please select one file</p>
<p i18n="@@attachedFile.attachmentDeleted">Attachment deleted</p>

<p i18n="@@login.signinFailed">Sign-in Failed : Incorrect username or password</p>

<p i18n="@@boardSettings.boardUpdated">Board updated</p>
<p i18n="@@boardSettings.deleteBoard">Delete board</p>
<p i18n="@@boardSettings.deleteBoardConfirm">Are you sure to delete this board ?</p>
<p i18n="@@boardSettings.boardDeleted">Board deleted</p>
<p i18n="@@boardSettings.newBoard">New board</p>
<p i18n="@@boardSettings.boardCreated">Board created</p>

<p i18n="@@userSettings.userUpdated">User updated</p>
<p i18n="@@userSettings.deleteUser">Delete user</p>
<p i18n="@@userSettings.deleteUserConfirm">Are you sure to delete this user ?</p>
<p i18n="@@userSettings.userDeleted">User deleted</p>
<p i18n="@@userSettings.username">username</p>
<p i18n="@@userSettings.userCreated">User created</p>
