@import '../../../../global.scss';

.userSettings {
  .myTable {
    min-width: 400px;
    width: 100%;
    margin: auto;

    .mat-table {
      width: 100%;

      th.mat-header-cell {
        text-align: center;
      }
      .mat-cell {
        text-align: center;
        justify-content: center;
      }
    }

    .paddingTd {
      padding-top: $margin-base;
      padding-right: $margin-base;
    }
    .mat-form-field {
      width: 100%;
    }
    .actionCell {
      width: 300px;
      .actionZone {
        button {
          margin: 0 $margin-small;
        }
      }
    }

    .mat-column-id {
      width: 5%;
    }
    .mat-column-username {
      width: 20%;
    }
    .mat-column-password {
      width: 20%;
    }
    .mat-column-roleList {
      width: 25%;
    }
    .mat-column-enabled {
      width: 10%;
    }
    .mat-column-actions {
      width: 20%;
    }
  }

  .creationZone {
    margin-top: $margin-base;
    text-align: center;
  }
}
