<h2 mat-dialog-title i18n> Change Color </h2>

<mat-dialog-content class="buttonList">

  <button (click)="chooseColor('white')" mat-fab class="white" i18n>White</button>
  <button (click)="chooseColor('yellow')" mat-fab class="yellow" i18n>Yellow</button>
  <button (click)="chooseColor('orange')" mat-fab class="orange" i18n>Orange</button>
  <button (click)="chooseColor('blue')" mat-fab class="blue" i18n>Blue</button>
  <button (click)="chooseColor('green')" mat-fab class="green" i18n>Green</button>
  <button (click)="chooseColor('pink')" mat-fab class="pink" i18n>Pink</button>

</mat-dialog-content>