@import "../../../../global.scss";
.buttonList {
    padding: $margin-large;
    button {
        text-align: center;
        margin-right: $margin-small;
        margin-left: $margin-small;
        color: $color-black-text;
    }
    .white {
        background-color: $color-white-postit;
    }
    .yellow {
        background-color: $color-yellow-postit;
    }
    .orange {
        background-color: $color-orange-postit;
    }
    .blue {
        background-color: $color-blue-postit;
    }
    .green {
        background-color: $color-green-postit;
    }
    .pink {
        background-color: $color-pink-postit;
    }
}
