$margin-small: 5px;
$margin-base: 10px;
$margin-large: 20px;

$font-default-size: 14px;
$font-boost-small: 110%;
$font-boost-base: 120%;

$color-red-error: #f44336;
$color-black-text: rgba(0, 0, 0, 0.87);
$color-white-postit: rgba(#ffffff, 0.85);
$color-yellow-postit: rgba(#ffd93a, 0.85);
$color-orange-postit: rgba(#fbae3c, 0.85);
$color-blue-postit: rgba(#1cabe3, 0.85);
$color-green-postit: rgba(#c0f152, 0.85);
$color-pink-postit: rgba(#fe59b5, 0.85);
